<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="linkProducto" class="nav-link" routerLink="./listar" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inmuebles</a>
  </li>
  <li class="nav-item">
    <a id="linkCrearProducto" class="nav-link" routerLink="./crear" routerLinkActive="active">Registrar</a>
  </li>
  <li class="nav-item">
    <a id="linkBorrarProducto" class="nav-link" routerLink="./borrar" routerLinkActive="active">Borrar</a>
  </li>
  <!-- <li class="nav-item">
    <a id="linkListarProducto" class="nav-link" routerLink="./listar" routerLinkActive="active">Listar</a>
  </li> -->
</ul>
<router-outlet></router-outlet>
