<div class="container-fluid">
  <div class="row bannerImg">
    <img src="{{inmueble.imgCover}}" class="img-fluid imgBanner" alt="{{inmueble.ubication.name}}">
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-12 pb-4">
      <form [formGroup]="inmuebleSoloForm" (ngSubmit)="guardar()">
        <div class="row g-3 d-flex justify-content-start mt-2">
          <!-- SELECT TIPO PROPIEDAD -->
          <div class="col-12 col-md-4 col-lg-4">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="type">Tipo de propiedad</label>
              <select class="form-select" id="type" name="type" formControlName="type" (change)="handleTypeBuilding($event)" validar>
                <option *ngFor="let type of dataType" value="{{type.id}}">{{type.name}}</option>
              </select>
            </div>

            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Tipo de propiedad</label>
              <p class="mb-1 txtInfo">{{tipoInmueble}}</p>
            </div>
          </div>
          
          <!-- AREA TOTAL -->
          <div class="col-12 col-md-4 col-lg-3">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="totalArea">Área total (mt<sup>2</sup>)</label>
              <input type="number" class="form-control" id="totalArea" name="totalArea" placeholder="{{inmueble.totalArea}}" formControlName="totalArea" validar>
            </div>

            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Área total (mt<sup>2</sup>)</label>
              <p class="mb-1 txtInfo">{{inmueble.totalArea}}</p>
            </div>
          </div>

          <!-- AREA CONSTRUIDA -->
          <div class="col-12 col-md-4 col-lg-3">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="builtArea">Área construida (mt<sup>2</sup>)</label>
              <input type="number" class="form-control" id="builtArea" name="builtArea" placeholder="{{inmueble.builtArea}}" formControlName="builtArea" validar>
            </div>

            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Área construida (mt<sup>2</sup>)</label>
              <p class="mb-1 txtInfo">{{inmueble.builtArea}}</p>
            </div>
          </div>
        </div>

        <div class="row g-3 d-flex justify-content-start mt-2">
          <!-- ANTIGUEDAD -->
          <div class="col-12 col-md-4">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="antique">Antigüedad</label>
              <select class="form-select" id="antique" name="antique" formControlName="antiqueId" (change)="handleChangeAntique($event)" validar>
                <option *ngFor="let antique of dataAntique" value="{{antique.id}}">{{antique.name}}</option>
              </select>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Antigüedad</label>
              <p class="mb-1 txtInfo">{{antiguedad}}</p>
            </div>
          </div>

          <!-- ESTADO -->
          <div class="col-12 col-md-3">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="levelId">Estrato</label>
              <input type="number" class="form-control" id="levelId" name="levelId" placeholder="{{inmueble.levelId}}" formControlName="levelId" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Estrato</label>
              <p class="mb-1 txtInfo">{{inmueble.levelId}}</p>
            </div>
          </div>
        </div>

        <div class="row g-3 d-flex justify-content-start mt-2">
          <!-- SECTOR -->
          <div class="col-12 col-md-4">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="ubication">Sector</label>
              <select class="form-select" id="ubication" name="ubication" formControlName="ubication" (change)="handleUbication($event)" validar>
                <option *ngFor="let ubication of dataUbication" value="{{ubication.id +'_'+ ubication.discount +'_'+ ubication.name}}">{{ubication.name}}</option>
              </select>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Sector</label>
              <p class="mb-1 txtInfo">{{sector}}</p>
            </div>
          </div>

          <!-- DIRECCION -->
          <div class="col-12 col-md-8 col-lg-6">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="address">Dirección</label>
              <input type="text" class="form-control" id="address" name="address" placeholder={{inmueble.address}} formControlName="address" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Dirección</label>
              <p class="mb-1 txtInfo">{{inmueble.address}}</p>
            </div>
            
          </div>
        </div>

        <div class="row g-3 d-flex justify-content-start mt-2">
          <!-- HABITACIONES -->
          <div class="col-6 col-md-3 col-lg-2">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="rooms">Habitaciones</label>
              <input type="number" class="form-control" id="rooms" name="rooms" placeholder="{{inmueble.rooms}}" formControlName="rooms" min="1" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Habitaciones</label>
              <p class="mb-1 txtInfo">{{inmueble.rooms}}</p>
            </div>
          </div>

          <!-- BAÑOS -->
          <div class="col-6 col-md-3 col-lg-2">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="bathrooms">Baños</label>
              <input type="number" class="form-control" id="bathrooms" name="bathrooms" placeholder="{{inmueble.bathrooms}}" formControlName="bathrooms" min="1" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Baños</label>
              <p class="mb-1 txtInfo">{{inmueble.bathrooms}}</p>
            </div>
          </div>

          <!-- ESTUDIOS -->
          <div class="col-6 col-md-3 col-lg-2">
            <div *ngIf="isEdit">  
              <label class="mb-1 labelForm" for="office">Estudios</label>
              <input type="number" class="form-control" id="office" name="office" placeholder="{{inmueble.office}}" formControlName="office" min="0" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Estudios</label>
              <p class="mb-1 txtInfo">{{inmueble.office}}</p>
            </div>
          </div>

          <!-- PARQUEADEROS -->
          <div class="col-6 col-md-3 col-lg-2">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="garages">Parqueaderos</label>
              <input type="number" class="form-control" id="garages" name="garages" placeholder="{{inmueble.garages}}" formControlName="garages" min="0" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Parqueaderos</label>
              <p class="mb-1 txtInfo">{{inmueble.garages}}</p>
            </div>
          </div>
        </div>

        <div class="row g-3 d-flex justify-content-start mt-2">
          <!-- NIVELES -->
          <div class="col-6 col-md-3 col-lg-2">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="floors">Niveles</label>
              <input type="number" class="form-control" id="floors" name="floors" placeholder="{{inmueble.floors}}" formControlName="floors" min="1" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Niveles</label>
              <p class="mb-1 txtInfo">{{inmueble.floors}}</p>
            </div>
          </div>
        </div>

        <div class="row g-3 d-flex justify-content-start mt-2">
          <div class="col-12 col-md-4 col-lg-3">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="price">Valor del inmueble ($)</label>
              <input type="number" class="form-control" id="price" name="price" placeholder="{{price}}" formControlName="price" min="0" (change)="handleChangePrice($event)" validar>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Valor del inmueble ($)</label>
              <p class="mb-1 txtInfo">{{price  | currency: 'USD'}}</p>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-3">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="priceDiscount">Valor de venta ($)</label>
              <input type="number" class="form-control" id="price" name="priceDiscount" placeholder="{{priceDiscount}}" value="{{priceDiscount}}" formControlName="priceDiscount" min="0" validar disabled>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Valor de venta ($)</label>
              <p class="mb-1 txtInfo">{{priceDiscount  | currency: 'USD'}}</p>
            </div>
            
          </div>

          <div class="col-12 col-md-4 col-lg-3">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="priceAdmon">Administración ($)</label>
              <input type="number" class="form-control" id="price" name="priceAdmon" placeholder="{{priceAdmon}}" value="{{priceAdmon}}" formControlName="priceAdmon" min="0" validar disabled>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Valor Administración ($)</label>
              <p class="mb-1 txtInfo">{{priceAdmon  | currency: 'USD'}}</p>
            </div>
            
          </div>
        </div>

        <div class="row g-3 d-flex justify-content-start mt-2">
          <div class="col-12 col-md-5 col-lg-4">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="pricePolicy">Seguro de vivienda (valor anual $)</label>
              <input type="number" class="form-control" id="pricePolicy" name="pricePolicy" placeholder="{{pricePolicy}}" value="{{pricePolicy}}" formControlName="pricePolicy" disabled>
            </div>
            <div *ngIf="!isEdit">
              <label class="mb-1 labelForm">Seguro de vivienda (valor anual $)</label>
              <p class="mb-1 txtInfo">{{pricePolicy  | currency: 'USD'}}</p>
            </div>
            
          </div>

          <div class="col-12 col-md-7 col-lg-6">
            <div *ngIf="isEdit">
              <label class="mb-1 labelForm" for="imgCover">URL Imagen de la Propiedad</label>
              <input type="text" class="form-control" id="imgCover" name="imgCover" placeholder="{{inmueble.imgCover}}" formControlName="imgCover" validar>
            </div>
            <div *ngIf="!isEdit"> 
              <label class="mb-1 labelForm">URL Imagen de la Propiedad</label>
              <p class="mb-1 txtInfo labelImgCover">{{inmueble.imgCover}}</p>
            </div>
          </div>

          <div class="row g-3 d-flex justify-content-start mt-2">
            <div class="col-12 col-md-12 col-lg-10">
              <div *ngIf="isEdit">
                <label class="mb-1 labelForm" for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" name="descripcion" placeholder="{{inmueble.descripcion}}" formControlName="descripcion" validar></textarea>
              </div>
              <div *ngIf="!isEdit">
                <label class="mb-1 labelForm">Descripción</label>
                <p class="mb-1 txtInfo">{{inmueble.descripcion}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- BOTONERA -->
        <div class="row g-3 d-flex justify-content-start mt-2">
          <div class="col-auto">
            <button type="button" class="btn btn-warning" (click)="habilitarEdicion()" *ngIf="!isEdit">Editar</button>
            <button type="button" class="btn btn-danger" (click)="habilitarEdicion()" *ngIf="isEdit">Cancelar</button>  
          </div>
          
          <div class="col-auto">
            <button type="submit" class="btn btn-success" [disabled]="!inmuebleSoloForm.valid" *ngIf="isEdit">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
